[user]
	name = vandemjh
	email = jack@jackv.dev
[merge]
    tool = meld
[alias]
	c="commit"
	co="checkout"
	ignore = "!gi() { curl -sL https://www.gitignore.io/api/$@ >> $(git rev-parse --show-toplevel)/.gitignore; echo 'gitignore created/updated!'; }; gi"
	last = "log -1 HEAD"
	mute = "!f() { git update-index --assume-unchanged $1; }; f"
	unmute = "!f() { git update-index --no-assume-unchanged $1; }; f"
	quick-commit-push = "!f() { git commit -am \"$(date +'%A %D at %I:%M%p')\" | tee; git push | tee; }; f"
	do-not-track = "!f() { echo $1 >> .git/info/exclude; }; f"
	do-track = "!f() { sed -ie s/$1//g .git/info/exclude; }; f"
	commit-it = "!f() { git commit $(find $(git rev-parse --show-toplevel) -type f -iname $1); }; f"
	cp-prettier = "!f() { cp -n ~/.prettierrc $(git rev-parse --show-toplevel); echo '--- Automatically adding and committing prettierrc file ---'; git add $(git rev-parse --show-toplevel)/.prettierrc; git commit $(git rev-parse --show-toplevel)/.prettierrc -m 'Added prettier configuration'; }; f"
	
